.add {
	padding: 0 2%;
	.form-row {
		line-height: 28px;
		margin-top: 10px;
	}
	.form-inp {
		input, textarea {
			width: 100%;
			line-height: 26px;
			padding: 0 4px;
			border: 1px solid #eee;
			border-radius: 4px;
			-webkit-box-sizing: border-box;
			box-sizing: border-box;
		}
		input {
			height: 26px;
		}
		textarea {
			height: 260px;
		}
	}
	.form-btns {
		display: flex;
		margin-top: 30px;
		.btn {
			flex: 1;
		}
		.btn-green {
			margin-right: 10px;
		}
	}
}